body{
    width: 100%;
    height: 99%;
    background-color: #F0F0F0;
    border-color: aqua;
    border-width: 3px;
    border-style: hidden;
}

.card_position{
    width: 80%;
    height: 75%;
    border-color: aqua;
    border-width: 3px;
    border-style: hidden;
    margin-left: 10%;
    display: flex;
}

.buttom_size{
    background-color: #F0F0F0;
    margin-top: 5%;
    margin-left: 3%;
    width: 210px;
    height: 180px;
    border-color: #E5E5E5;
    border-width:0.1mm;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    
}

.hover_color:hover{
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    border-width: 0.1mm;
    border-style: solid;
    border-radius: 10px;
    transition-duration: 15ms;
}

.div_size{
    width: 100%;
    height: 100%;
    

}

.pic_text_size{  
    border-color: aqua;
    border-width: 3px;
    border-style: hidden;
    color: black;
    text-align: center;
    height: 70%;
    padding-top: 6vh;

}
.select2-results__option--highlighted {
    background-color: #BADA55 !important;
}


.add{
    position: absolute;
    right: 0;
    margin-top: -2%;
}