body {
    width: 100%;
    height: 95%;
    border-color: red;
    border-width: 5px;
    border-style: hidden;
}

#left_part {
    margin-top: -3%;
    width: 20%;
    height: 89%;
    float: left;
    display: inline;
    border-color: #F0F0F0;
    border-width: 1px;
    border-style: solid;
    background-color: #F0F0F0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

#right_part {
    margin-top: -3%;
    width: 75%;
    height: 89%;
    float: left;
    display: inline;
    border-color: green;
    border-width: 5px;
    border-style: hidden;
    overflow: auto;
}


.top_div {
    z-index: -1;
    position: absolute;
    right: 0;
    width: 78%;
    height: 10%;
    border-color: #F1F1F1;
    background-color: #F1F1F1;
    border-width: 5px;
    border-style: solid;
    padding-left: 20%;
}

.div_name {
    z-index: 999;
    margin-top: 2%;
}


#back {
    margin-top: 10%;
    margin-left: 5%;
    width: 25%;
}

#left_div {
    margin-top: 20%;
    margin-left: 15%;
    width: 85%;
    height: 60%;
    border-color: red;
    border-width: 5px;
    border-style: hidden;
}

#square {
    width: 30%;
    margin-bottom: 5%;
}

p {
    font-size: 30px;
    margin-bottom: 15%;
}


#div>.show {
    display: block;
}

#div>div {
    display: none;
}

.waiting {
    margin-top: 25%;
    margin-left: 40%;
}


.img_position {
    width: 50%;
}

#seperate {
    width: 98%;
    height: 10%;
    border-color: red;
    border-width: 5px;
    border-style: hidden;
}

#right_top {
    margin-top: 2%;
    width: 99%;
    height: 35%;
    border-color: red;
    border-width: 5px;
    border-style: hidden;
}

#name {
    width: 12%;
    margin-top: 4%;
    margin-left: 4%;
}

#select_list {
    border-color: blue;
    border-width: 5px;
    border-style: hidden;
    margin-top: 3%;
    height: 20%;
    display: flex;
    margin-left: 3%;
    margin-bottom: 2%;
}

hr {
    border: 0;
    margin-bottom: 2%;
    padding-top: 1px;
    background: linear-gradient(to right, transparent, black, transparent);
}

#right_buttom {
    width: 95%;
    height: 130%;
    margin-left: 3%;
    border-color: #707070;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    flex-wrap: wrap;
    display: none;
}



.word {
    border-color: blue;
    border-width: 1px;
    border-style: hidden;
    margin-top: 2.5%;
    margin-left: 3%;
    height: 35%;
    width: 6%;
}

.word>p {
    font-size: 20px;
}


#first_list {
    border-color: blue;
    border-width: 5px;
    border-style: hidden;
    margin-top: 3%;
    height: 34%;
    width: 100%;
    margin-bottom: 2%;
}

#second_list {
    border-color: blue;
    border-width: 5px;
    border-style: hidden;
    height: 34%;
    width: 100%;
}

.btn_select {
    height: 100%;
}

#first_second {
    width: 89%;
    height: 50%;
    border-color: blue;
    border-width: 5px;
    border-style: hidden;
}

.btn_position {
    height: 100%;
    margin-top: -1%;
    border-color: blue;
    border-width: 5px;
    border-style: hidden;
}


.word {
    border-color: blue;
    border-width: 1px;
    border-style: hidden;
    margin-top: 2.5%;
    margin-left: 3%;
    height: 35%;
    width: 6%;
}

.second_word {
    border-color: blue;
    border-width: 1px;
    border-style: hidden;
    margin-left: 3%;
    height: 10%;
    width: 6%;

}

.second_word>p {
    font-size: 20px;
}

#third_list {
    width: 89%;
    height: 17%;
    border-color: rgb(19, 216, 173);
    border-width: 1px;
    border-style: hidden;

}

#small_size {
    height: 40%;
    margin-bottom: 1%;
}


.third_word {
    border-color: rgb(19, 216, 173);
    border-width: 1px;
    border-style: hidden;
    margin-left: 3%;
    height: 10%;
    width: 6%;

}

#forth_list {
    width: 89%;
    height: 20%;
    border-color: rgb(19, 216, 173);
    border-width: 1px;
    border-style: hidden;
    display: none;

}

.btn_clock {
    height: 70%;
    margin-top: -1%;
    border-color: #E5E5E5;
    border-width: 1px;
    width: 9%;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    border-style: solid;
    margin-right: 1.1%;
}

.clock_position {
    width: 100%;
    margin-top: 10%;
}

.btn-box {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-radius: 100px;
    background-color: #ccc;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, .13) inset;
}

.btn-box .btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF9FDE;
    margin-left: 0;
    /*動畫從ml為0開始*/
    transition: .5s;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox:checked+.btn-box {
    background-color: #FCDA;
}

.checkbox:checked+.btn-box .btn {
    margin-left: 20px;
}

label {
    margin-top: 2%;
    margin-left: 2%;
}