body {
    width: 100%;
    height: 95%;
    border-color: red;
    border-width: 5px;
    border-style: hidden;
}

#left_part {
    width: 15%;
    height: 70%;
    float: left;
    display: inline;
    border-color: blueviolet;
    border-width: 5px;
    border-style: hidden;
    margin-left: 2%;
}

#journey{
    margin-top: 0%;
    margin-left: 0%;
    height: auto;
    background-color: #ffffff;
    box-shadow: none;
}

#journey img{
    width: 100%;
}

.right_part {
    width: 75%;
    height: 70%;
    float: left;
    display: inline;
    border-color: blue;
    border-width: 5px;
    border-style: hidden;
    overflow: auto;
}

p {
    margin-top: 5%;
    margin-bottom: 5%;
}

#roll {
    width: 100%;
    height: 50%;
    border-color: pink;
    border-width: 5px;
    border-style: hidden;
    overflow: auto;
}

.div_shape {
    align-items: center;
    width: 80%;
    height: 17%;
    border-width: 0.1mm;
    border-style: hidden;
    border-radius: 10px;
    margin-top: 5%;
}

#roll::-webkit-scrollbar {
    display: none;
}


.right_part::-webkit-scrollbar {
    display: none;
}

#div>.show {
    opacity: 1;
    z-index: 1;
}

#div>div {
    opacity: 0;
    z-index: -1;
}

.canlendar {
    position: absolute;
    width: 75%;
}



.fc-col-header-cell-cushion,
.fc-daygrid-day-number {
    color: black;
}

#left_part .modal{
    width: 700px;
    height: 1000px;
}

.modal-content {
    height: 100%;
}

.text_save_div {
    width: 90%;
    border-color: blue;
    border-width: 1px;
    border-style: hidden;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.text_save_div #title{
    border-width: 0px 0px 1px 0px;
    border-bottom: #F27D8D;
    border-style: solid;
    margin-left: 1%;
}

#x {
    height: 30px;
    width: 30px;
    margin-right: 1%;
}

#date_div {
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 5%;
}


#not_all .date {
    text-align: center;
    width: 120px;
    height: 0%;
    border-radius: 5px;
    border: 1px solid #000000;
}

#in_all .date {
    text-align: center;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
}

#savea{
    margin-top: 0%;
    margin-left: 0%;
    height: auto;
}

#savea img{
    width: 100%;
}


.form_size {
    width: 70%;
    margin-left: 3%;
    padding-bottom: 1%;
    border-color: #E5E5E5;
    position: absolute;
    z-index: 0;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 40px;
}

.img {
    margin-bottom: 1%;
    position: absolute;
    z-index: 1;
    width: 6%;
}

#myselect{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    height: 75%;
    text-align: center;
    color: #000000;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    padding-left: 30%;
}

.select_box input {
    display: block;
    line-height: 25px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.select_box ul {
    position: absolute;
    border: 1px solid #ccc;
    background: white;
    overflow: hidden;
    display: none;
    z-index: 99999;
    width: 11.5%;
    margin-top: -1.1%;
}

.select_box ul li {
    display: block;
    height: 39px;
    overflow: hidden;
    line-height: 40px;
    margin-left: -20px;
    width: 160%;
}


.hover {
    background: #FFF3F3;
}

#p {
    margin-top: 5%;
}

#pic {
    margin-top: 5%;
    width: 80%;
}

.img_position {
    width: 120%;
}

#exp {
    width: 80%;
}

.list_icon{
    width: 7%;
    margin-right: 2%;
}



#not_all{
    display: flex;
    margin-left: -8%;
}

.time_left{
    margin-left: 20%;
}

#not_all > input{
    width: 26%;
    padding: 1%;
}


.time_size{
    width: 13%;
    margin-top: 0;
    margin-left: 3%;
    margin-right: 3%;
}

#not_all > label{
    margin-top: 1%;
    font-size: 1.1rem;
    color: #000000;
}


.btn-box {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border-radius: 100px;
    background-color: #ccc;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, .13) inset;
}

.btn-box .btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(242, 125, 141);
    margin-left: 0;
    /*動畫從ml為0開始*/
    transition: .5s;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, .3);
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.checkbox:checked+.btn-box {
    background-color: rgb(252, 210, 216);
}

.checkbox:checked+.btn-box .btn {
    margin-left: 20px;
}

.modal-body > label{
    width: 20%;
    margin-left: 5%;
}


#in_all{
    margin-left: -8%;
    display: none;
}

#in_all > label{
    margin-top: 1%;
    font-size: 1.1rem;
    color: #000000;
    margin-left: 2%;
    margin-right: 2%;
}

#in_all .date {
    text-align: center;
    width: 120px;
    height: 5%;
    border-radius: 5px;
    border: 1px solid #000000;
}

.switch.s{
    margin-left: 3%;
}

.switch.s label .lever {
    background-color: #c0c0c0;
}
.switch.s label input[type=checkbox]:checked+.lever {
    background-color: #ffced6;
}
.switch.s label input[type=checkbox]:checked+.lever:after {
    background-color: #F27D8D;
}

.s{
    margin-top: -3%;
    margin-left: 0%;
}

.s label{
     color: #000000;
     font-size: 1.2rem;
}

.content .carousel{
    height: 80%;
}

.content .carousel .carousel-item{
    background-color: #ffffff;
    width: 400px;
    height: 400px;
    border: 1px solid #000000;
    border-radius: 10px;
}

.content_center{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.content_left{
    display: block;
}

.content_left table{
    padding-left: 3%;
    border-collapse: separate;
}

.content_left table td{
    padding: 5px 5px;
}

.table_hover:hover{
    background-color: #FFF3F3;
    transition-duration: 90ms;
}

#p_notice{
    margin-left: 12%;
    color: #F27D8D;
}

#p_repeat{
    margin-left: 12%;
    color: #F27D8D;
}

#p_address{
    margin-left: 12%;
    color: #F27D8D;
}

#p_location{
    margin-left: 12%;
    color: #F27D8D;
}

#p_remark{
    margin-left: 12%;
    color: #F27D8D;
}

#p_list{
    margin-left: 12%;
    color: #F27D8D;
}

.content .carousel .carousel-item .content_center>img{
    width: 16%;
    height: 16%;
}

.d01{
    background-image: url('/icon/carousel_calendar/開會P.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
    opacity: 0;
}

.d04{
    background-image: url('/icon/carousel_calendar/助教Y.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d08{
    background-image: url('/icon/carousel_calendar/開會P.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
    opacity: 0;
}

.d11{
    background-image: url('/icon/carousel_calendar/助教Y.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d14{
    background-image: url('/icon/carousel_calendar/節日.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d15{
    background-image: url('/icon/carousel_calendar/開會P.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
    opacity: 0;
}

.d16{
    background-image: url('/icon/carousel_calendar/助教G.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d18{
    background-image: url('/icon/carousel_calendar/輪播圖18.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d22{
    background-image: url('/icon/carousel_calendar/出差.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d23{
    background-image: url('/icon/carousel_calendar/助教G.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d25{
    background-image: url('/icon/carousel_calendar/輪播圖25.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d26{
    background-image: url('/icon/carousel_calendar/1111-01.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
    opacity: 0;
}

.d28{
    background-image: url('/icon/carousel_calendar/奶奶家.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d29{
    background-image: url('/icon/carousel_calendar/出差.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

.d30{
    background-image: url('/icon/carousel_calendar/輪播圖30.png');
    background-size: 130px 53px;
    height: 60px;
    width: 130px;
    background-repeat: no-repeat;
    left: 17%;
}

/* .fc-daygrid-day-events{
    display: flex;
} */