a{
    
    cursor: pointer;
}

.line{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(155, 155, 155);
}

.top{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    margin-top: -1%;
    padding-bottom: 1%;
}

.top .carousel{
    width: 100%;
    height: 200px;
}

.top .carousel .carousel-item{
    width: 200px;
    height: 200px;
}

.mid{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
}

.head_img{
    width: auto;
    height: 70%;
    margin-left: 2%;
}

.mid .mid_div{
    height: 100%;
    width: 80%;
    align-items: center;
}

#mb{
    display: flex;
}

.mid_buttom{
    margin-top: 0px;
    margin-left: 2%;
}

.mid_buttom img{
    height: 50%;
}

.bottom{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70%;
    display: flex;
}

#bottom_carousel{
    
    opacity: 0;
}

.bottom .carousel{
    height: 100%;
}

.bottom .carousel .carousel-item{
    width: 550px;
    height: 450px;
    margin-top: -1%;
    margin-left: 0%;
}

.content{
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
}

.content p{
    margin-top: 3%;
    font-size: 1.2rem;
}

.closed{
    margin-top: 150px;
    opacity: 0.1;
}

.week{
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-left: 5%;
}

.week a{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    color: black;
    margin-top: 2%;
    margin-left: 3%;
    font-size: 1.2rem;
    width: 12%;
}

#date{
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-top: -4%;
    display: none;
}

#date a{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    color: black;
    margin-top: 10%;
    margin-right: 2%;
    font-size: 1.2rem;
    width: 12%;
}

.time{
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 5%;
}

.time a{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    color: black;
    margin-top: 2%;
    margin-right: 2%;
    font-size: 1.2rem;
    width: 12%;
}



.select_box {
    width: 60px;
    position: relative;
    margin-top: 3.6%;
    margin-right: 3%;
    font-size: 12px;
    border: 0px 0px 0px 0px;
}

.select_box input {
    cursor: pointer;
    display: block;
    line-height: 25px;
    width: 100%;
    height: 25px;
    overflow: hidden;
    padding-right: 20px;
    padding-left: 10px;
}

.select_box ul {
    margin-top: -12%;
    width: 62px;
    position: absolute;
    left: 0;
    overflow: hidden;
    display: none;
    background: #f0f0f0;
    z-index: 99999;
}

.select_box ul li {
    display: block;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    padding-left: 5px;
    width: 100%;
    cursor: pointer;
}

#myselect{
    height: 27px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgb(255, 255, 255);
    color: #000000;
}

.to{
    margin-right: 3%;
}

.switch.s label .lever {
    background-color: #c0c0c0;
}
.switch.s label input[type=checkbox]:checked+.lever {
    background-color: #ffc5eb;
}
.switch.s label input[type=checkbox]:checked+.lever:after {
    background-color: #FF9FDE;
}

.s{
    margin-top: 7%;
    margin-left: -63%;
}

.s label{
     color: #000000;
     font-size: 1.2rem;
}


.hover{
    background-color: #E5E5E5;
}

#left{
    margin-left: -8%;
}

.add_calendar{
    margin-top: -5%;
}