#top{
    position: relative;
    margin-top: -2%;
    width: 100%;
    height: 25%;
    border-bottom: black hidden 3px;
    display: flex;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    z-index: 2;
}

#bottom{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 70%;
    border: blue hidden 3px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;


}

p{
    font-size: 20px;
    margin-left: 1.5%;
    margin-top: 1%;
}

#name_div{
    width: 40%;
    height: 100%;
    border: green hidden 3px;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.name_size{
    width: 20%;
    height: 90%;
}


#div{
    margin-top: 0.5%;
    width: 98%;
    height: 100%;
    border: rgb(194, 22, 116) hidden 3px;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgb(240, 240, 240);
}

#right_middle{
    display: flex;
    width: 100%;
    height: 10%;
    border: 3px red hidden;
    justify-content: center;
}

#text{
    width: 95%;
    height: 60%;
    border: 3px rgb(224, 224, 224) solid;
    background-color: white;
    font-size: 20px;
    padding-left: 1%;
    margin-top: 1%;
    border-width: 1px;
}

#right_buttom{
    flex-direction: row;
    border: 3px red hidden;
    height: 10%;
    width: 95%;

}

#right_buttom > img{
    margin-left: 2%;
}

#submit{
    position: absolute;
    right: 2%;
    cursor: pointer;
    height: 9%;
}


#div > img{
    display: none;
}

#div > .show{
    display: flex;
}

.wait{
    width: 30%;
    margin-top: 10%;
    margin-left: 38%;

}

.content{
    width: 100%;
    display: flex;
}

#tool_list{
    height: 100%;
}

.carousel .carousel-item .btn_size{
    margin-top: 10%;
    width: 80%;
}
