a{
    color: #000;
}

ul{
    list-style-type: none;
}

li{
    list-style-type: none;
}

.body{
    display: flex;
    margin-top: 1.2%;
    font-size: 110%;
    height: 870px;
    color: black;
}



.side_bar{
    background-color: rgb(255, 255, 255);
    width: 20%;
    padding-top: 1%;
    box-shadow: 1px 0px 5px 0px #c9c9c9;
    z-index: 10;
}

table{
    padding-top: 5%;
    padding-bottom: 5%;
}

.hover_style:hover{
    background-color: #E5E5E5;
    transition-duration: 90ms;
}

.point{
    height: 0%;
    width: 30%;
    margin-left: 30%;
}

.point-t{
    width: 10%;
}

.block{
    height: 40px;
    width: 40px;
    border-radius: 15%;
}

.block-t{
    width: 0%;
}

.list{
    margin-top: 1.6%;
    padding-left: 3%;
}

.dot{
    margin-top: 4%;
    height: 0%;
}

.dot-t{
    width: 10%;
}

.head_bar_y{
    background-color: rgb(255, 255, 255);
    height: 8%;
    width: 80%;
    padding-top: 2%;
    margin-left: 1%;
    display: flex;
    box-shadow: 5px 2px 5px 0px #c9c9c9;
    z-index: 5;
}

.head_bar_p{
    background-color: rgb(255, 255, 255);
    height: 8%;
    width: 80%;
    padding-top: 2%;
    margin-left: 1%;
    display: none;
    box-shadow: 5px 2px 5px 0px #c9c9c9;
    z-index: 5;
}

#head_block{
    height: 40px;
    width: 50px;
    border-radius: 15%;
    margin-top: -0.5%;
    margin-left: 3%;
}

p{
    width: 15%;
    margin-left: 1%;
}

.head_bar_y ul{
    display: flex;
    width: 100%;
    margin-left: 3%;
}

/* .head_bar_y li{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12%;
    margin-right: 5%;
} */

.head_li1{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12%;
    margin-right: 2%;
}

.head_li2{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12%;
    margin-right: -2%;
}

.head_bar_p ul{
    display: flex;
    width: 100%;
    margin-left: 3%;
}

/* .head_bar_p li{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12%;
    margin-right: 5%;
} */

.head_img{
    margin-top: 0%;
    height: 35%;
    width: max-content;
    padding-right: 5%;
}

.buttom1{
    opacity: 0;
    margin-left: -3%;
    margin-top: 22%;
    height: 10%;
    width: 80%;
    background-color: #FFCF52;
    border-style: solid;
    border-color: #FFCF52;
    border-width: 2px;
    border-radius: 10px;
}

.buttom1_p{
    opacity: 0;
    margin-left: -3%;
    margin-top: 22%;
    height: 10%;
    width: 80%;
    background-color: #ffa7f8;
    border-style: solid;
    border-color: #ffa7f8;
    border-width: 2px;
    border-radius: 10px;
}

#buttom2{
    opacity: 0;
}

.buttom{
    opacity: 0;
    margin-left: -3%;
    margin-top: 22%;
    height: 10%;
    width: 47%;
    background-color: #FFCF52;
    border-style: solid;
    border-color: #FFCF52;
    border-width: 2px;
    border-radius: 10px;
}

.buttom_p{
    opacity: 0;
    margin-left: -3%;
    margin-top: 22%;
    height: 10%;
    width: 47%;
    background-color: #ffa7f8;
    border-style: solid;
    border-color: #ffa7f8;
    border-width: 2px;
    border-radius: 10px;
}

#content1{
    opacity: 0;
    z-index: -1;
    margin-top: 5.5%;
    margin-left: -79.2%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: center;
}

#content2{
    opacity: 0;
    z-index: -1;
    margin-top: 5.5%;
    margin-left: -79.2%;
    width: 80%;
    background-color: rgb(255, 255, 255);
}

.content_head{
    margin-top: 1%;
    height: 20%;
    display: flex;
}

.content_picture{
    height: 60%;
    margin-top: 2%;
    margin-left: 4%;
}

.content_title{
    margin-top: 3.2%;
    margin-left: 2%;
    font-weight: 400;
}

.content_buttom{
    height: 70%;
}

.content_buttom_td{
    display: flex;
    height: 10%;
    margin-left: 3%;
}

.content_td{
    margin-top: 1%;
    margin-left: 0%;
    width: 7%;
    flex-direction: row;
    justify-content: center;
}

#c63{
    margin-left: 7%;
}

.content_line{
    margin-top: 1%;
    margin-left: 1%;
    width: 97%;
    border-color: #000000;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

#content3{
    opacity: 0;
    z-index: -1;
    margin-top: 5.5%;
    margin-left: -79.2%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: center;
}

#content4{
    opacity: 0;
    z-index: -1;
    margin-top: 5.5%;
    margin-left: -79.2%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: center;
}

#content5{
    opacity: 0;
    z-index: -1;
    margin-top: 5.5%;
    margin-left: -79.2%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: center;
}

#content6{
    opacity: 0;
    z-index: -1;
    margin-top: 5.5%;
    margin-left: -79.2%;
    width: 80%;
    background-color: rgb(255, 255, 255);
}

.meeting_buttom{
    opacity: 0;
    z-index: -1;
    background-color: #ffa7f8;
    border-width: 5px;
    border-style: solid;
    border-color: #ffa7f8;
    border-radius: 10px;
    width: 3%;
    margin-top: -0.5%;
    margin-left: 2.4%;
}

.work_buttom{
    opacity: 0;
    z-index: -1;
    background-color: #ffa7f8;
    border-width: 5px;
    border-style: solid;
    border-color: #ffa7f8;
    border-radius: 10px;
    width: 4%;
    margin-top: -0.65%;
    margin-left: 9.2%;
}

.dinner_buttom{
    opacity: 0;
    z-index: -1;
    background-color: #ffa7f8;
    border-width: 5px;
    border-style: solid;
    border-color: #ffa7f8;
    border-radius: 10px;
    width: 3%;
    margin-top: -0.65%;
    margin-left: 16.5%;
}

.assist_buttom{
    opacity: 0;
    z-index: -1;
    background-color: #ffa7f8;
    border-width: 5px;
    border-style: solid;
    border-color: #ffa7f8;
    border-radius: 10px;
    width: 3%;
    margin-top: -0.65%;
    margin-left: 22.6%;
}

.new_buttom{
    opacity: 0;
    z-index: -1;
    background-color: #ffa7f8;
    border-width: 5px;
    border-style: solid;
    border-color: #ffa7f8;
    border-radius: 10px;
    width: 6%;
    margin-top: -0.65%;
    margin-left: 29.8%;
}

.content_line_p{
    margin-top: 0.8%;
    margin-left: 1%;
    width: 97%;
    border-color: #000000;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

#opened{
    display: none;
    margin-top: -32%;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 40%;
    width: 60%;
}

#closed{
    display: none;
    margin-top: -18%;
    margin-left: 35%;
}

.week{
    margin-top: 3%;
    margin-left: 2%;
    display: flex;
    text-align: center;
}

#wp1_buttom{
    border-bottom: 1px solid #000; 
    padding-bottom: 1%;
}

#wp2_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#wp3_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#wp4_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

.m_data1{
    width: 10%;
}

.m_line1{
    height: 3%;
    display: flex;
    margin-left: 8%;
}

.m_line1_1{
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-top: 0.6%;
    height: 0px;
    width: 7.7%;
    margin-right: 1%;
}

.date{
    margin-top: 3%;
    margin-left: 9.5%;
    display: none;
    text-align: center;
}

#dp1_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#dp2_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#dp3_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#dp4_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#dp5_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#dp6_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#dp7_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

.m_data2{
    width: 10.5%;
    padding-right: 0.6%;
}

.m_line2{
    height: 3%;
    display: none;
    margin-left: 8%;
    margin-bottom: 3%;
}

.m_line2_1{
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-top: 0.6%;
    height: 0px;
    width: 7.7%;
    margin-right: 1%;
}

.time{
    margin-top: 2%;
    margin-left: 1.6%;
    display: flex;
    text-align: center;
}

#tp1_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#tp2_buttom{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#tbox1{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

#tbox2{
    border-bottom: 1px solid #000;    
    padding-bottom: 1%;  
}

.m_data3{
    width: 10%;
}

.to{
    margin-left: 2%;
    padding-right: 1%;
    padding-top: 1%;
    width: 2.7%;
}

.m_line3{
    height: 3%;
    display: flex;
    margin-left: 8%;
    margin-top: -1%;
}

.m_line3_1{
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-top: 1.3%;
    height: 0px;
    width: 7.7%;
    margin-right: 1.1%;
}

.m_line3_2{
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    margin-top: 1.3%;
    height: 0px;
    width: 7.7%;
    margin-left: 0.6%;
    margin-right: 3%;
}

.select_box {
    width: 11%;
    position: relative;
    margin-top: -0.8%;
    margin-left: 1%;
    font-size: 12px;
    border: 0px 0px 0px 0px;
}

.select_box input {
    cursor: pointer;
    display: block;
    line-height: 25px;
    width: 100%;
    height: 25px;
    overflow: hidden;
    padding-right: 20px;
}

.select_box ul {
    width: 70px;
    position: absolute;
    left: 0;
    overflow: hidden;
    display: none;
    background: #f0f0f0;
    z-index: 99999;
}

.select_box ul li {
    display: block;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    width: 70%;
    cursor: pointer;
}

#myselect{
    height: 40px;
    text-align: center;
    font-size: 15px;
    border: 0px solid #ffffff;
    border-radius: 3px;
}

.add_calendar{
    margin-top: 2%;
    margin-left: 1%;
}

.btn-box {
    display:inline-block;
    vertical-align:middle;
    width: 40px;
    height: 20px;
    border-radius:100px;
    background-color: #ccc;
    box-shadow: 0px 3px 0px rgba(0,0,0,.13) inset;
}
.btn-box .btn {
    display:inline-block;
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #FF9FDE;
    margin-left: 0;/*動畫從ml為0開始*/
    transition: .5s;
    box-shadow:1px 2px 5px rgba(0,0,0,.3);
}
.checkbox {
    position:absolute;
    opacity:0;
}
  .checkbox:checked + .btn-box {
    background-color: #FCDA;
}
.checkbox:checked + .btn-box .btn {
    margin-left: 20px;
}
  
label{
      margin-top: 2%;
      margin-left: 2%;
}

#content7{
    opacity: 0;
    z-index: -1;
    margin-top: 5.5%;
    margin-left: -79.2%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: center;
}

#content8{
    opacity: 0;
    z-index: -1;
    margin-top: 5.5%;
    margin-left: -79.2%;
    width: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center; 
    align-items: center;
}

.hover{
    background-color: #E5E5E5;
}

.repeat{
    width: 7%;
}


#c62{
    margin-left: -5%;
}